@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container
{
    /* background: url(./images/bg6.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    width: 100vw;
}

#logo 
{
    position: absolute;
    top: 25px;
    left: 30px;
    color: white;
    background: #000000db;
    padding: 5px 20px;
    border-radius: 30px;
    font-family: 'Merriweather', serif;
}

#mainDetail
{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #ffffff;
}

#temperature
{
    font-size: 6rem;
}

#weatherNature img
{
    filter: invert(100%);
}